<html>

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300" />
    <style>
        table {
            border: 2px solid #90ba41;
            border-radius: 3px;
            background-color: #fff;
            font-family: "Roboto";
            font-weight: 300;
            font-style: normal;
        }

        th {
            background-color: #90ba41;
            color: rgba(255, 255, 255, 0.66);
            border: #90ba41
        }

        td {
            background-color: #f9f9f9;            
        }       

        .imagetd {
            text-align: center;
            background-color: #fff;
            border: 1px solid #000000;
        }

        th,
        td {
            min-width: 90px;
            padding: 10px 20px;
        }
    </style>
</head>

<body>
    <form id="main">
        <div v-if="showLoader"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
        <div v-else>
            <div>
                <input id="search" type="text" v-model="searchString" placeholder="Search.." />
                <input id="regexCheck" type="checkbox" name="regex" value="regex">regex search
                <i title="&#13;Only first 100 products are displayed for any search query." class="fa fa-question-circle" aria-hidden="true"></i>
            </div>
            <div>Last sync with Rohlik.cz: {{time}}</div>

            <table>
                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price CZK</th>
                    <th>Price per unit</th>
                    <th>Size (Approximate)</th>
                    <th>Unit</th>                    
                </thead>
                <tbody>
                    <tr v-for="product in filteredProducts">
                        <td class="imagetd"><img v-bind:src="product.Img"></td>
                        <td><a v-bind:href="product.Href">{{product.Name}}</a></td>
                        <td>{{product.Price}}</td>
                        <td>{{product.PPU}}</td>
                        <td>{{product.Size}}</td>
                        <td>{{product.Unit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

</body>
<script type='text/javascript'>
    var url = 'https://rohlikapi.azurewebsites.net/api/GetAllProducts';

    var productList = new Vue({

        el: '#main',

        data: {
            showLoader: true,
            searchString: "",
            products: null,
            time: null
        },

        computed: {
            filteredProducts: function () {
                var productArray = this.products;
                var searchString = this.searchString;

                if (!searchString) {
                    return productArray.slice(0, 100);
                }

                var parameters = { search: searchString }
                var parametersString = $.param(parameters);
                var newLocation = location.protocol + '//' + location.host + location.pathname + "?" + parametersString;
                history.pushState(newLocation, "", newLocation);

                searchString = searchString.trim().toLowerCase();

                var checkedElement = document.getElementById('regexCheck');
                if (checkedElement) {
                    if (checkedElement.checked) {
                        return this.filterProductsRegex(productArray, searchString);
                    }
                };
                return this.filterProducts(productArray, searchString);
            }
        },

        created: function () {
            this.setUrlFromParam();
            this.fetchData();
        },

        methods: {
            formatDate: function (dateString) {
                var date = new Date(dateString);
                return date.getDate() + "." + date.getMonth() + "." + date.getFullYear() + " " + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2);
            },

            fetchData: function () {
                var self = this;
                $.get(url, function (data) {
                    self.products = data.Products;
                    self.products.forEach(function(item) {
                        item.Size = Math.ceil(item.Price / item.PPU);
                    }, this);

                    self.time = self.formatDate(data.SyncTime);
                    self.showLoader = !self.showLoader;
                });
            },

            setUrlFromParam: function () {
                var searchParam = window.location.search.substring(1).split("=")[1];
                if (searchParam) {
                    var decodedSearchParam = decodeURIComponent(searchParam);
                    this.searchString = decodedSearchParam;
                };
            },

            filterProductsRegex: function (productArray, searchString) {
                var regex = new RegExp(searchString);
                return productArray.filter(function (item) {
                    if (regex.test(item.Sname)) {
                        return item;
                    }
                })
            },

            filterProducts: function (productArray, searchString) {
                var searchItems = searchString.split(" ");
                var negativeItems = searchItems.filter(function (item) {
                    return item.charAt(0) == '-' && item.length > 1;
                });

                negativeItems = negativeItems.map(function (negativeItem) {
                    return negativeItem.substring(1);
                });

                var positiveItems = searchItems.filter(function (item) {
                    return item.charAt(0) != '-';
                });


                function isValid(item) {
                    var negativeFound = false;
                    for (i = 0; i < negativeItems.length; i++) {
                        if (item.Sname.indexOf(negativeItems[i]) !== -1) {
                            negativeFound = true;
                            break;
                        };
                    }
                    if (negativeFound) {
                        return false;
                    }
                    var count = 0;
                    positiveItems.forEach(function (searchWord) {
                        if (item.Sname.indexOf(searchWord) !== -1) {
                            count++;
                        }
                    });
                    if (count == positiveItems.length) {
                        return true;
                    };
                }

                return productArray.filter(isValid, negativeItems, positiveItems).slice(0, 100);
            }
        }
    });

</script>

</html>